// @import-normalize;
@import "helper";

*{
  box-sizing: border-box;
  margin:0px;
  padding: 0px;
}
*::after{
  box-sizing: border-box;
}
*::before{
  box-sizing: border-box;
}
ul,ol{
  list-style:none;
}
a{text-decoration: none;color:inherit}

body{
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
  background: #f5f5f5;
}

button{
  font-family: inherit;
}

:focus{
  outline: none;
}

.icon{
  width: 1em;
  height: 1em;
  display: inline-block; // 设置 svg 默认是文字
}

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}

.onLine{
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}